				<!-- Header -->
					<header id="header">
						<h1>West Virginia</h1>
						<p>West Virginia is an eastern U.S. state in the tree-covered Appalachian Mountains. Harpers Ferry, where the Shenandoah River meets the Potomac River, is the site of a famous Civil War–era raid. Surrounded by a national historical park, the town looks as it did in the 19th century, with many of the buildings open to the public as living-history museums</p>
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
					</header>